/* CSS Document */
@charset "utf-8";
:root {
    --negro: black;
    --blanco: white;
    --rojo: red;
    --rojoenlaces: rgb(155, 0, 0);
    --azurecustomized: #eef0fd;
}
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    text-align: center;
    background-color: var(--azurecustomized);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0fr 0fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    'vacio1 logo vacio2'
    'tituloedescricion tituloedescricion tituloedescricion'
    'navegacion navegacion navegacion'; 
}
.vacio1 {
    grid-area: vacio1;
}
.logo {
    grid-area: logo;
    width: 35%;
    margin: 0 auto;
    padding: 1vh;
    animation-name: aparecerdesdearriba;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.vacio2 {
    grid-area: vacio2;
}
.tituloedescricion {
    grid-area: tituloedescricion;
}
.tituloedescricion h1 {
    font-size: 48px;
    padding: 1vh;
    animation-name: aparecerdesdelaizquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.tituloedescricion p {
    padding: 1vh;
    animation-name: aparecerdesdelaizquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.navegacion {
    grid-area: navegacion;
    font-weight: bold;
    animation-name: aparecerdesdeladerecha;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.navegacion ul {
    padding: 2vh;
}
.navegacion ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    padding: 7px;
    border-radius: 5px;
}
.navegacion ul li.seleccionado {
    background-color: var(--rojo);
    color: var(--blanco);
}
.navegacion ul li:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}
main {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40vh;
    margin-right: 40vh;
    padding: 3vh;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0fr 0fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        'titulopaxina'
        'estatutos'
        'likeecompartir'; 
}
.titulopaxina {
    grid-area: titulopaxina;
    text-align: center;
    padding: 4vh;
    animation-name: aparecerdesdelaizquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.titulopaxina h1 {
    font-size: 44px;
}
.estatutos {
    grid-area: estatutos;
    animation-name: aparecerdesdeabajo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.estatutos h1, .estatutos h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.estatutos p, .estatutos ol, .estatutos ul {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.estatutos ol, .estatutos ul {
    margin-left: 10vh;
}
.estatutos ol li, .estatutos ul li {
    margin-top: 15px;
}
.estatutos h1 {
    font-size: 40px;
}
.likeecompartir {
    grid-area: likeecompartir;
    margin-left: 50%;
    transform: translateX(-50%);
}
.likeecompartir .hrcurto {
    width: 20vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.likeecompartir b {
    margin-top: 20px;
    margin-bottom: 20px;
}
.likeecompartir form button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--rojo);
    background-color: var(--rojo);
    color: var(--blanco);
}
.likeecompartir form button:hover {
    border: 2px solid var(--negro);
    background-color: var(--negro);
}
.likeecompartir a, .likeecompartir form, .likeecompartir p {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
}
footer {
    text-align: center;
    background-color: var(--azurecustomized);
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    'xunta idiomas unioneuropea'
    'copyright copyright copyright';
}
.xunta {
    grid-area: xunta;
    width: 50%;
    margin: 0 auto;
    padding: 1vh;
    animation-name: aparecerdesdelaizquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.idiomas {
    grid-area: idiomas;
    font-weight: bold;
    animation-name: aparecerdesdelaabajo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.idiomas ul {
    padding: 2vh;
}
.idiomas ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    padding: 7px;
    border-radius: 5px;
}
.idiomas ul li a {
    text-decoration: none;
    color: var(--negro);
    padding: 7px;
    border-radius: 5px;
}
.idiomas ul li a:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}
.unioneuropea {
    grid-area: unioneuropea;
    width: 25%;
    margin: 0 auto;
    padding: 1vh;
    animation-name: aparecerdesdeladerecha;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.copyright {
    grid-area: copyright;
    padding: 2vh;
    animation-name: aparecerdesdeabajo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes aparecerdesdearriba {
    from {
        transform: translate(0vh, -100vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}
@keyframes aparecerdesdeabajo {
    from {
        transform: translate(0vh, 100vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}
@keyframes aparecerdesdelaizquierda {
    from {
        transform: translate(-100vh, 0vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}
@keyframes aparecerdesdeladerecha {
    from {
        transform: translate(100vh, 0vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}
@media screen and (max-width: 1024px) {
    header {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0fr 0fr 0fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'logo'
        'tituloedescricion'
        'navegacion'; 
    }
    .vacio1, .vacio2 {
        display: none;
    }
    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
    .navegacion ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navegacion ul li:hover {
        background-color: var(--rojo);
        color: var(--blanco);
    }
    main {
        margin-left: 15px;
        margin-right: 15px;
        padding: 1vh;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0fr 0fr 0fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            'titulopaxina'
            'estatutos'
            'likeecompartir'; 
    }
    .titulopaxina {
        margin: 0px;
        padding: 0px;
    }
    footer {
        text-align: center;
        background-color: var(--azurecustomized);
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0fr 0fr 0fr 0fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            'xunta'
            'idiomas'
            'unioneuropea'
            'copyright';
    }
}